.gradient-custom-2 {
    background: #fbc2eb;
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    position: relative;
}

.profile-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
}

.profile-picture {
    height: 330px;
    z-index: 1;
}
body {
    background: #654ea3;
    background: linear-gradient(45deg,  #fbc2eb,#00dbde);
    min-height: 100vh;
    overflow-x:hidden;
}

.background-photos {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    z-index: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease-in-out;
}
.cool-background {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative; /* Add position relative */
    animation: cool-animation 20s ease-in-out infinite alternate;
}

@keyframes cool-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Add custom animation for gaming theme */
@keyframes gaming-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.cool-section {
    padding: 150px 0; /* Increase padding for a larger cool section */
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden; /* Add overflow hidden to clip the animated background */
}

.cool-background {
    width: 100%;
    height: 1000%;
    background: #fbc2eb;
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
    position: relative;

    overflow: hidden;
    animation: cool-animation 20s ease-in-out infinite alternate;
}

@keyframes cool-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Add custom animation for gaming theme */
@keyframes gaming-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.cool-content {
    position: relative;
    z-index: 1;
}