<!DOCTYPE html>
<html>
<head>
    <title>Admin Lounge</title>
    <link rel="stylesheet" th:href="@{/adminMain/style.css}">
</head>

<style>

</style>
<body>
<header>
    <div class="header_menu">
        <div class="logo">
            <a href="."><h1>NexaPlay</h1></a>
        </div>
        <div class="menu_list">
            <ul>
                <li><a href="/main">Main</a></li>
                <li><a href="/gameslistA">Games</a></li>
                <li><a href="/userslistA">Users</a></li>
            </ul>
        </div>
    </div>

    <div class="header_content">
        <h2>Welcome to the Game Admin Portal</h2>
        <p>This portal is designed to help game administrators manage games and users effectively.</p>

        <button><a href="/userslistA">Start </a></button>
    </div>
</header>
</body>
</html>