<!DOCTYPE html>
<html xmlns:href="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Check your CSS link here -->
    <link rel="stylesheet" th:href="@{/gamedetails/style.css}"> <!-- Adjust the href as needed -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>

<div class="card-wrapper">
    <div class="card">
        <!-- card left -->
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <!-- Only display the first image initially -->
                    <img th:src="'data:image/jpeg;base64,' + ${game.images[0].pictureBase64}" alt="shoe image" id="main-image">
                </div>
            </div>
            <div class="img-select">
                <!-- Iterate through game images for thumbnail selection -->
                <div th:each="image, iterStat : ${game.images}" class="img-item">
                    <a href="#" th:data-id="${iterStat.index}" class="img-link">
                        <img th:src="'data:image/jpeg;base64,' + ${image.pictureBase64}" alt="shoe image">
                    </a>
                </div>
            </div>
        </div>
        <!-- card right -->
        <div class="product-content">
            <h2 class="product-title" th:text="${game.gameName}">Game Name</h2>
            <div class="product-rating">
                <span th:if="${game.rating > 0}">
        <span th:each="i : ${#numbers.sequence(1, game.rating)}">
            <i class="fas fa-star" style="color: gold;"></i>
        </span>
        <span th:if="${game.rating % 1 != 0}">
            <i class="fas fa-star-half-alt" style="color: gold;"></i>
        </span>
        <span th:if="${game.rating < 5}">
            <span th:each="i : ${#numbers.sequence(1, 5 - game.rating)}">
                <i class="far fa-star" style="color: #ccc;"></i>
            </span>
        </span>
    </span>
                <span th:if="${game.rating == 0}">
        <span th:each="i : ${#numbers.sequence(1, 5)}">
            <i class="far fa-star" style="color: #ccc;"></i>
        </span>
    </span>
                <span th:text="${game.rating}"></span>
            </div>

            <div class="product-price">
                <span th:if="${game.prix > 0}" th:text="'$' + ${game.prix} + '0'"></span>
                <span th:if="${game.prix == 0}">Free</span>            </div>

            <div class="product-detail">
                <h2>about this item: </h2>
                <p class="game-description" th:text="${game.description}">Game Description</p>
                <ul>
                    <li>Genre : <span th:text="${game.categorie.categorieType}">Black</span></li>
                    <li>Release date: <span th:text="${#dates.format(game.publishDate, 'dd MMM, yyyy')}">in stock</span></li>
                    <div style="display: flex;">
                        <div style="flex: 1;">
                            <h2>Minimum Requirements:</h2>
                            <ul>
                                <li>Operating System: <span th:text="${game.minSpecs.operatingSystem}"></span></li>
                                <li>Processor: <span th:text="${game.minSpecs.processor}"></span></li>
                                <li>GPU: <span th:text="${game.minSpecs.GPU}"></span></li>
                                <li>Memory: <span th:text="${game.minSpecs.memory} + 'GB'"></span></li>
                                <li>Storage: <span th:text="${game.minSpecs.storage} + 'GB'"></span></li>
                            </ul>
                        </div>
                        <div style="flex: 1;">
                            <h2>Recommended Requirements:</h2>
                            <ul>
                                <li>Operating System: <span th:text="${game.recSpecs.operatingSystem}"></span></li>
                                <li>Processor: <span th:text="${game.recSpecs.processor}"></span></li>
                                <li>GPU: <span th:text="${game.recSpecs.GPU}"></span></li>
                                <li>Memory: <span th:text="${game.recSpecs.memory} + 'GB'"></span></li>
                                <li>Storage: <span th:text="${game.recSpecs.storage} + 'GB'"></span></li>
                            </ul>
                        </div>
                    </div>

                </ul>
            </div>

            <div class="purchase-info">
                <a href="/pay" class="btn" style="margin-left: 20px">
                    Add to Cart <i class="fas fa-shopping-cart"></i>
                </a>
            </div>

        </div>
    </div>
</div>

<!-- comments container -->
<div class="comment_block">

    <!--
        Comments are structured in the following way:

        {ul} defines a new comment (singular)
        {li} defines a new reply to the comment {ul}

        example:

        <ul>
            <comment>

            </comment

                <li>
                    <reply>

                    </reply>
                </li>

                <li>
                    <reply>

                    </reply>
                </li>

                <li>
                    <reply>

                    </reply>
                </li>
        </ul>

     -->

    <form action="/game-details/${game.id}" method="post">
        <div class="create_new_comment">
            <div class="input_comment">
                <input type="text" name="comment" placeholder="Join the conversation..">
                <button style="margin-top: 20px; margin-left: 790px" type="submit">Add comment</button>
            </div>
        </div>
    </form>


    <!-- new comment -->
    <div class="new_comment">

        <!-- build comment -->
        <ul class="user_comment">

            <!-- current #{user} avatar -->
            <div class="user_avatar">

            </div><!-- the comment body --><div class="comment_body">
            <p>Gastropub cardigan jean shorts, kogi Godard PBR&B lo-fi locavore. Organic chillwave vinyl Neutra. Bushwick Helvetica cred freegan, crucifix Godard craft beer deep v mixtape cornhole Truffaut master cleanse pour-over Odd Future beard. Portland polaroid iPhone.</p>
        </div>

            <div class="comment_toolbar">

                <div class="comment_details">
                    <ul>
                        <li><i class="fa fa-clock-o"></i> 13:94</li>
                        <li><i class="fa fa-calendar"></i> 04/01/2015</li>
                        <li><i class="fa fa-pencil"></i> <span class="user">John Smith</span></li>
                    </ul>
                </div><div class="comment_tools">
                <ul>
                    <li><i class="fa fa-share-alt"></i></li>
                    <li><i class="fa fa-reply"></i></li>
                    <li><i class="fa fa-heart love"> 33</i></li>
                </ul>
            </div>







        </ul>

    </div>


</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const mainImage = document.getElementById('main-image');
        const thumbnails = document.querySelectorAll('.img-select .img-link');

        thumbnails.forEach(function(thumbnail) {
            thumbnail.addEventListener('click', function(event) {
                event.preventDefault();
                const thumbnailImage = thumbnail.querySelector('img');
                mainImage.src = thumbnailImage.src;
            });
        });
    });

</script>
</body>
</html>
