<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/login/style.css}">
</head>
<body>
<div class="container">
    <div class="left">
        <div class="header">
            <h2 class="animation a1">Welcome Back</h2>
            <h4 class="animation a2">Log in to your account using email and password</h4>
        </div>
        <form action="/login" method="post">
            <div class="form">
                <input type="email" name="email" class="form-field animation a3" placeholder="Email Address">
                <input type="password" name="password" class="form-field animation a4" placeholder="Password">
                <p class="animation a5"><a href="/register">Need an account?</a></p>
                <button type="submit" class="animation a6">LOGIN</button>
            </div>
        </form>
    </div>
    <div class="right"></div>
</div>
    <script>
        var imageUrls = [
            "/register/images/register.jpg",
            "/register/images/register2.png",
            "/register/images/register3.jpg",
            "/register/images/register4.jpg",
            "/register/images/register5.jpg",
            "/register/images/register6.jpg",
            "/register/images/register7.gif",
            "/register/images/register8.gif"
        ];

        function getRandomImageUrl() {
            var randomIndex = Math.floor(Math.random() * imageUrls.length);
            return imageUrls[randomIndex];
        }

        function setRandomBackgroundImage() {
            var rightElement = document.querySelector('.right');
            var randomImageUrl = getRandomImageUrl();
            rightElement.style.backgroundImage = "url('" + randomImageUrl + "')";
        }

        setRandomBackgroundImage();


    </script>
</body>
</html>